.content__list {
    display: flex;
    column-gap: 30px;
}

.visibility {
    visibility: hidden;

}


.content__item {
    width: 270px;
    height: 248px;


    flex-basis: calc((100% - 90px) /4);
}

.content__wraper {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;

    border-radius: 4px;

}

.content__icon {
    display: block;
    width: 70px;
    height: 70px;

}

.content-wraper__text {
    padding-top: 30px;
}

.content__title {

    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;


}

.content__text {

    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: var(--text-color);
}
